@font-face {
  font-family: 'VAGROUNDEDSTD';
  src: url('../fonts/VAGROUNDEDSTD-BLACK.OTF');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'VAGROUNDEDSTD';
  src: url('../fonts/VAGROUNDEDSTD-BOLD.OTF');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'VAGROUNDEDSTD';
  src: url('../fonts/VAGROUNDEDSTD-LIGHT.OTF');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
